.classpath
.DS_Store
.sfdx
.project
.salesforce
node_modules
.idea
.tern-project
.settings
selenium-client-jars/
test/artifacts
assets/server.key
package/package.xml
destructiveChanges/package.xml
destructiveChanges/destructiveChanges.xml